# ละเว้นโฟลเดอร์ node_modules
node_modules/

# ละเว้นไฟล์ lock ของ npm และ Yarn
package-lock.json


# ละเว้นไฟล์สำหรับระบบปฏิบัติการ
.DS_Store
Thumbs.db

# ละเว้นไฟล์ .env (ข้อมูลลับ)
.env
menu.db
uploads/

node_modules/
data/*.db
uploads/
